src/main/mule/eai-anypoint-bussimulator.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="30f6a21c-7bce-46d0-adc0-fc715588f9da" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="d5202597-c4c9-4e09-ae72-be81ff4b6c45" >
		<http:request-connection host="localhost" port="5002" />
	</http:request-config>
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="c742756d-4798-4a32-8f85-fd5f9a5904a3" >
		<jms:active-mq-connection >
			<jms:factory-configuration brokerUrl="tcp://localhost:61616" />
		</jms:active-mq-connection>
	</jms:config>
	<wsc:config name="QBUZZ_Webservices" doc:name="Web Service Consumer Config" doc:id="e2e3ca47-c543-40a0-afd2-602066234d44" >
		<wsc:connection wsdlLocation="http://localhost:8888/QBUZZServices?wsdl" service="QbuzzServicesService" port="QbuzzServicesPort" address="http://localhost:8888/QBUZZServices" />
	</wsc:config>
	<flow name="python-TimeServer-converter" doc:id="57a579ce-37bf-4746-8bb1-15e0b2bb33b3" >
		<http:listener doc:name="Listener" doc:id="850768fd-b7c3-4530-a711-dc984532f858" config-ref="HTTP_Listener_config" path="/TijdServer"/>
		<set-variable value='#[attributes.queryParams.responseType]' doc:name="responseType" doc:id="34c23a2d-b448-4b20-9c5c-5d679bbc1ae8" variableName="responseType"/>
		<logger level="INFO" doc:name="Log responseType" doc:id="924a472c-150a-4045-a89a-f2d960371c8d" message='#["Client requested time in format " ++ (vars.responseType default "&lt;unspecified&gt;")]'/>
		<http:request method="GET" doc:name="Request" doc:id="8415fe8f-5b22-4f6e-9c8f-4096bb52206a" config-ref="HTTP_Request_configuration" path="/TimeServer" sendBodyMode="ALWAYS" />
		<choice doc:name="Choice" doc:id="0a59ffe9-e152-4872-a845-eb85025ef340" >
			<when doc:id="46704418-5d2d-49c6-9003-87bd7a80147d" expression="#[vars.responseType != 'json']">
				<ee:transform doc:name="Transform Message" doc:id="b21eb187-255b-4658-8b83-1b58d0d650bd">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
	Tijd: {
		minuut: payload.minuut,
		seconde: payload.seconde,
		uur: payload.uur
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
		</choice>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="5c5b71e2-c4a0-4edf-a75e-86153a3b8018" />
	</flow>
	<flow name="eta-distributor-and-logger" doc:id="947f253f-fbf4-4954-a952-7d279f8e9f44" >
		<jms:listener doc:name="On New BusBericht" doc:id="8b90c924-3468-43ad-838d-1abf63f7b6c5" config-ref="JMS_Config" destination="BusBericht.QUEUE"/>
		<set-variable value='#[%dw 2.0&#10;output application/xml&#10;---&#10;read(payload, "application/xml")]' doc:name="BusBericht" doc:id="28b9c3d0-5a14-4fab-82d3-dc4708bde3d4" variableName="BusBericht"/>
		<choice doc:name="Choice" doc:id="c4d20c40-c1f5-4a81-9574-726fdf6923e4" >
			<when doc:id="050725f2-684f-4ae3-9e65-6bfb8d0f38a6" expression='#[vars.BusBericht.Bericht.bedrijf == "ARRIVA"]'>
				<jms:publish doc:name="Publish" doc:id="30e67aa8-9c71-4385-bfa5-7282b7bf488d" config-ref="JMS_Config" destination="ARRIVALOGGER">
			<jms:message>
				<jms:body><![CDATA[#[vars.BusBericht]]]></jms:body>
			</jms:message>
		</jms:publish>
			</when>
			<when expression='#[vars.BusBericht.Bericht.bedrijf == "QBUZZ"]'>
				<wsc:consume doc:name="Consume" doc:id="563f9a90-0444-47ee-ada0-24c1a366a309" config-ref="QBUZZ_Webservices" operation="logEtas">
					<wsc:message >
						<wsc:body ><![CDATA[#[%dw 2.0
output application/xml
ns ns0 http://soapserver.qbuzz.com/
---
{
	ns0#logEtas: {
		etaBericht: {
			lijnNaam: vars.BusBericht.Bericht.lijnNaam,
			eindpunt: vars.BusBericht.Bericht.eindpunt,
			bedrijf: vars.BusBericht.Bericht.bedrijf,
			busID: vars.BusBericht.Bericht.busID,
			tijd: vars.BusBericht.Bericht.tijd,
			ETAs: vars.BusBericht.Bericht.ETAs.*ETA map(item, index) -> {
				halteNaam: item.halteNaam,
				richting: item.richting,
				aankomsttijd: item.aankomsttijd
			}
		}
	}
}]]]></wsc:body>
					</wsc:message>
				</wsc:consume>
			</when>
		</choice>
		<logger level="INFO" doc:name="Log bus route" doc:id="0c06f08e-7196-4fe9-8b96-8f92c2dd09bc" message='#["BusBericht XML received, on route: " ++ vars.BusBericht.Bericht.lijnNaam]'/>
		<foreach doc:name="For Each ETA" doc:id="87264da7-e700-4619-9ff6-ce898c3077db" collection="#[%dw 2.0&#10;output application/java&#10;---&#10;vars.BusBericht.Bericht.ETAs.*ETA map(item,index) -&gt; {&#10;	halteNaam: item.halteNaam,&#10;	richting: item.richting,&#10;	aankomsttijd: item.aankomsttijd&#10;}]">
			<set-variable value="#[%dw 2.0&#10;output application/java&#10;---&#10;payload]" doc:name="ETA" doc:id="2132d23a-7a02-4f37-92a2-e16b776eb2bb" variableName="ETA"/>
			<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	tijd: vars.BusBericht.Bericht.tijd,&#10;	aankomsttijd: vars.ETA.aankomsttijd,&#10;	lijnNaam: vars.BusBericht.Bericht.lijnNaam,&#10;	busID: vars.BusBericht.Bericht.busID,&#10;	bedrijf: vars.BusBericht.Bericht.bedrijf,&#10;	eindpunt: vars.BusBericht.Bericht.eindpunt&#10;}]" doc:name="JSONBericht" doc:id="13890e6d-33d8-48f9-a0c3-10afc44db4a6" variableName="JSONBericht"/>
			<choice doc:name="Choice" doc:id="c2bd015a-3bfa-4b72-83f1-7910a3754926" >
				<when doc:id="441319f4-1b60-4949-88ce-a22bb0c51622" expression='#[vars.BusBericht.Bericht.bedrijf == "QBUZZ" and vars.BusBericht.Bericht.eindpunt == vars.ETA.halteNaam]'>
					<wsc:consume doc:name="Bus bij eindpunt" doc:id="f6427e5b-e72b-41d1-805d-7e8ba6ca69f0" config-ref="QBUZZ_Webservices" operation="receiveBusBijEindpunt">
						<wsc:message >
							<wsc:body ><![CDATA[#[%dw 2.0
output application/xml
ns ns0 http://soapserver.qbuzz.com/
---
{
	ns0#receiveBusBijEindpunt: {
		aankomstbericht: {
			busID: vars.BusBericht.Bericht.busID,
			lijn: vars.BusBericht.Bericht.lijnNaam,
			eindpunt: vars.BusBericht.Bericht.eindpunt,
			aankomsttijd: vars.ETA.aankomsttijd
		}
	}
}]]]></wsc:body>
						</wsc:message>
					</wsc:consume>
				</when>
				<when expression='#[vars.BusBericht.Bericht.bedrijf == "QBUZZ" and vars.ETA.aankomsttijd != "0" and vars.BusBericht.Bericht.eindpunt != vars.ETA.halteNaam]'>
					<wsc:consume doc:name="Bus bij halte" doc:id="0634ef52-bdba-4d36-b806-de75be60b32b" config-ref="QBUZZ_Webservices" operation="receiveBusBijHalte">
						<wsc:message >
							<wsc:body ><![CDATA[#[%dw 2.0
output application/xml
ns ns0 http://soapserver.qbuzz.com/
---
{
	ns0#receiveBusBijHalte: {
		haltebericht: {
			busID: vars.BusBericht.Bericht.busID,
			lijn: vars.BusBericht.Bericht.lijnNaam,
			halte: vars.ETA.halteNaam,
			tijd: vars.BusBericht.Bericht.tijd,
			eindpunt: vars.BusBericht.Bericht.eindpunt
		}
	}
}]]]></wsc:body>
						</wsc:message>
					</wsc:consume>
				</when>
			</choice>
			<jms:publish doc:name="Publish" doc:id="afb274b6-9c83-43d7-9217-2f209cc2bdd3" destination="INFOBord.TOPIC" destinationType="TOPIC" config-ref="JMS_Config">
				<jms:message >
					<jms:body ><![CDATA[#[vars.JSONBericht]]]></jms:body>
					<jms:properties ><![CDATA[#[{
	HALTE: vars.ETA.halteNaam,
	RICHTING: vars.ETA.richting
}]]]></jms:properties>
				</jms:message>
			</jms:publish>
		</foreach>
	</flow>
</mule>
